@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

article {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

article {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  padding: 20px;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  transform: translateY(-100%);
}
.header .menu.active {
  transform: translateY(0%);
}
.header .menu a {
  color: #141414;
  font-size: 2.375rem;
  text-transform: capitalize;
}
.header .menu-mobile {
  display: grid;
  place-items: center;
}
.header .menu-mobile .line {
  width: 28px;
  height: 5px;
  display: inline-block;
  background-color: #141414;
  transform: rotate(-45deg);
}
.header .menu-mobile .line::after {
  content: "";
  width: 28px;
  height: 5px;
  display: inline-block;
  background-color: inherit;
  transform: translateX(5px);
}

.intro {
  display: grid;
  justify-content: center;
}
.intro__img {
  display: none;
}
.intro__text {
  width: 100%;
  position: relative;
}
.intro__text h1 {
  font-size: 3.125rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.intro__text h1::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/favicon.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -5px;
  left: -15px;
  z-index: -1;
}

.experiencia {
  padding: 20px;
}
.experiencia__text {
  display: none;
}
.experiencia__info {
  display: grid;
  gap: 20px;
}
.experiencia__info .text {
  font-size: 1.5rem;
}
.experiencia__info::before {
  content: "experiência";
  color: #e0e0e0;
  display: block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: 2px;
}
.experiencia .ano {
  font-weight: 400;
  color: #525252;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
.experiencia__data {
  background-color: #f0f0f0;
  display: grid;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.experiencia__data h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
}
.experiencia__data div:first-child h3::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  position: absolute;
  left: -4px;
}
.experiencia__data p {
  color: #525252;
}
.experiencia__data .tags div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.experiencia__data .tags span {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.formacao {
  padding: 20px;
  background-color: #292929;
  color: #a3a3a3;
}
.formacao::before {
  content: "formação";
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: 2px;
}
.formacao strong,
.formacao h4 {
  color: #fff;
}
.formacao__text {
  display: none;
}
.formacao__data {
  display: grid;
  gap: 30px;
}
.formacao__box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.formacao__box div {
  background-color: #000;
  flex: 1;
  padding: 10px;
  display: grid;
}
.formacao__box div h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.formacao__box div p {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.formacao__cursos, .formacao__idiomas {
  display: flex;
  justify-content: stretch;
  gap: 20px;
  width: 100%;
}
.formacao__cursos div:last-child, .formacao__idiomas div:last-child {
  flex: 1;
}
.formacao__cursos h4, .formacao__idiomas h4 {
  margin-bottom: 10px;
}
.formacao__cursos ul li, .formacao__idiomas ul li {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  padding: 20px;
  background-color: #141414;
  display: grid;
  gap: 20px;
}
.footer p {
  color: #cccccc;
  margin: 20px 0;
}
.footer a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
