@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

article {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

article {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  padding: 20px;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  transform: translateY(-100%);
  z-index: 10;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .header .menu {
    position: initial;
    width: initial;
    min-height: initial;
    flex-direction: row;
    transform: translateY(0);
  }
}
.header .menu.active {
  transform: translateY(0%);
}
.header .menu a {
  color: #141414;
  font-size: 2.375rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .header .menu a {
    font-size: 1.125rem;
  }
}
.header .menu-mobile {
  display: grid;
  place-items: center;
  z-index: 11;
  cursor: pointer;
  padding: 20px 10px;
}
@media screen and (min-width: 768px) {
  .header .menu-mobile {
    display: none;
  }
}
.header .menu-mobile .line {
  width: 28px;
  height: 5px;
  display: inline-block;
  background-color: #141414;
  transform: rotate(-45deg);
}
.header .menu-mobile .line::after {
  content: "";
  width: 28px;
  height: 5px;
  display: inline-block;
  background-color: inherit;
  transform: translateX(5px);
}

.intro {
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .intro {
    grid-template-columns: 280px 1fr;
    align-items: center;
    gap: 70px;
    padding: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .intro {
    grid-template-columns: 1fr 2fr;
    gap: 140px;
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1160px;
    margin: 0 auto;
  }
}
.intro__img {
  display: none;
}
@media screen and (min-width: 768px) {
  .intro__img {
    display: initial;
  }
}
@media screen and (min-width: 1150px) {
  .intro__img img {
    height: 500px;
  }
}
.intro__text {
  width: 100%;
  position: relative;
}
.intro__text h1 {
  font-size: 3.125rem;
  text-transform: capitalize;
  margin-bottom: 15px;
}
@media screen and (min-width: 1150px) {
  .intro__text h1 {
    font-size: 4.5rem;
  }
}
.intro__text h1::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url(../images/favicon.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -5px;
  left: -15px;
  z-index: -1;
}
@media screen and (min-width: 1150px) {
  .intro__text p {
    font-size: 1.5rem;
  }
}

.experiencia {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .experiencia {
    display: grid;
    grid-template-columns: 330px 1fr;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1150px) {
  .experiencia {
    grid-template-columns: 230px 1fr;
    gap: 110px;
    padding: 0;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .experiencia__box {
    display: flex;
    gap: 60px;
  }
}
.experiencia__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .experiencia__text {
    display: initial;
    font-size: 7.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.experiencia__info {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .experiencia__info {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .experiencia__info {
    grid-template-columns: 80px 1fr;
  }
  .experiencia__info .experiencia__box {
    grid-column: 2/3;
    position: relative;
  }
  .experiencia__info .text {
    grid-column: 2/3;
    margin-bottom: 60px;
    max-width: 560px;
  }
}
.experiencia__info .text {
  font-size: 1.5rem;
}
.experiencia__info::before {
  content: "experiência";
  color: #e0e0e0;
  display: block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .experiencia__info::before {
    display: none;
  }
}
.experiencia .ano {
  font-weight: 400;
  color: #525252;
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
@media screen and (min-width: 1150px) {
  .experiencia .ano {
    position: absolute;
    top: 30px;
    left: -100px;
    text-align: right;
    margin: 0;
    width: 80px;
  }
}
.experiencia__data {
  background-color: #f0f0f0;
  display: grid;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
@media screen and (min-width: 1150px) {
  .experiencia__data {
    grid-template-columns: 2fr 1fr;
    padding: 30px;
  }
}
.experiencia__data h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 700;
}
.experiencia__data div:first-child h3::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  position: absolute;
  left: -4px;
}
.experiencia__data p {
  color: #525252;
}
@media screen and (min-width: 1150px) {
  .experiencia__data p {
    font-size: 0.875rem;
  }
}
.experiencia__data .tags div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.experiencia__data .tags span {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.875rem;
}

.formacao {
  padding: 20px;
  background-color: #292929;
  color: #a3a3a3;
}
@media screen and (min-width: 768px) {
  .formacao .container {
    display: grid;
    grid-template-columns: 330px 1fr;
  }
}
@media screen and (min-width: 1150px) {
  .formacao .container {
    max-width: 1160px;
    margin: 0 auto;
    grid-template-columns: 230px 1fr;
    gap: 110px;
    padding: 110px 0;
  }
}
.formacao::before {
  content: "formação";
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 5.625rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 768px) {
  .formacao::before {
    display: none;
  }
}
.formacao strong,
.formacao h4 {
  color: #fff;
}
.formacao__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .formacao__text {
    display: initial;
    font-size: 6.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
  }
}
.formacao__data {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .formacao__data {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1150px) {
  .formacao__data {
    grid-template-columns: 80px 1fr;
  }
  .formacao__data div, .formacao__data p {
    grid-column: 2/3;
  }
  .formacao__data p {
    max-width: 520px;
    font-size: 1.5rem;
  }
}
.formacao__box {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.formacao__box div {
  background-color: #000;
  flex: 1;
  padding: 10px;
  display: grid;
  border-radius: 3px;
}
@media screen and (min-width: 1150px) {
  .formacao__box div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.formacao__box div h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.formacao__box div p {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.formacao__cursos, .formacao__idiomas {
  display: flex;
  justify-content: stretch;
  gap: 20px;
  width: 100%;
}
.formacao__cursos div:last-child, .formacao__idiomas div:last-child {
  flex: 1;
}
.formacao__cursos h4, .formacao__idiomas h4 {
  margin-bottom: 10px;
}
.formacao__cursos ul li, .formacao__idiomas ul li {
  margin-bottom: 10px;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  padding: 20px;
  background-color: #141414;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding-top: 50px;
    position: relative;
  }
  .footer .container::before {
    content: "";
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(../images/favicon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -70px;
    left: 20px;
    z-index: 2;
  }
}
@media screen and (min-width: 1150px) {
  .footer .container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 120px 0 30px;
  }
}
.footer__info a {
  color: #fff;
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer__info a {
    font-size: 2.25rem;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1150px) {
  .footer__info ul {
    display: grid;
    gap: 30px;
    justify-items: center;
  }
}
@media screen and (min-width: 1150px) {
  .footer__text p {
    max-width: 450px;
    font-size: 1.5rem;
  }
}
.footer p {
  color: #cccccc;
  margin: 20px 0;
}

/*# sourceMappingURL=style.css.map */
