@import './components/functions';
@import './components/mixins';
@import './components/variables';

.experiencia {
  padding: 20px;
  @include device(tablet){
    display: grid;
    grid-template-columns: 330px 1fr;
    margin-bottom: 30px;
  }
  @include device(desktop){
    grid-template-columns: 230px 1fr;
    gap: 110px;
    padding: 0;
    @include desktop;
    margin-bottom: 60px;

    &__box{
      display: flex;
      gap: 60px;
    }
  }

  &__text {
    display: none;
    @include device(tablet){
      display: initial;
      font-size: rem(120);
      font-weight: bold;
      text-transform: uppercase;
      color: $c3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    display: grid;
    gap: 20px;
    @include device(tablet){
      margin-top: 20px;
    }
    @include device(desktop){
      grid-template-columns: 80px 1fr;
      .experiencia__box{
        grid-column: 2/3;
        position: relative;
      }
      .text{
        grid-column: 2/3;
        margin-bottom: 60px;
        max-width: 560px;
      }
    }

    .text {
      font-size: rem(24);
    }

    &::before{
      content: "experiência";
      color: $c3;
      display: block;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 5.625rem;
      letter-spacing: 2px;
      @include device(tablet){
        display: none;
      }
    }
  }

  .ano {
    font-weight: 400;
    color: $c10;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    @include device(desktop){
      position: absolute;
      top: 30px;
      left: -100px;
      text-align: right;
      margin: 0;
      width: 80px;
    }
  }

  &__data {
    background-color: $c2;
    display: grid;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    @include device(desktop){
      grid-template-columns: 2fr 1fr;
      padding: 30px;
    }

    h3 {
      text-transform: capitalize;
      margin-bottom: 10px;
      font-size: rem(18);
      font-weight: 700;
    }

    div:first-child h3::before{
      content: '';
      display: inline-block;
      height: 20px;
      width: 4px;
      background: $gradient1;
      position: absolute;
      left: -4px;
    }

    p {
      color: $c10;
      @include device(desktop){
        font-size: rem(14);
      }
    }

    .tags {
      div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      span {
        background-color: $bg-color;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: rem(14);
      }
    }
  }
}
