@import './components/functions';
@import './components/mixins';
@import './components/variables';

.footer {
  padding: 20px;
  background-color: $c13;
  @include device(tablet) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      padding-top: 50px;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        height: 100px;
        width: 100px;
        background-image: url(../images/favicon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -70px;
        left: 20px;
        z-index: 2;
      }
    }
  }

  @include device(desktop) {
    .container {
      @include desktop;
      padding: 120px 0 30px;
    }
  }

  &__info {
    a {
      color: #fff;
      display: block;
      margin-bottom: 10px;
      @include device(tablet) {
        font-size: rem(36);
        margin-left: 30px;
      }
    }
    @include device(desktop) {
      ul {
        display: grid;
        gap: 30px;
        justify-items: center;
      }
    }
  }

  &__text {
    @include device(desktop) {
      p {
        max-width: 450px;
        font-size: rem(24);
      }
    }
  }

  p {
    color: $c4;
    margin: 20px 0;
  }
}
