@import './components/functions';
@import './components/variables';
@import './components/mixins';

.intro {
  display: grid;
  justify-content: center;
  @include device(tablet){
    grid-template-columns: 280px 1fr;
    align-items: center;
    gap: 70px;
    padding: 20px;
  }
  @include device(desktop){
    grid-template-columns: 1fr 2fr;
    gap: 140px;
    padding-top: 80px;
    padding-bottom: 120px;
    @include desktop
  }
  
  &__img{
    display: none;
    @include device(tablet){
      display: initial;
    }
    @include device(desktop){
      img{
        height: 500px;
      }
    }
  }

  &__text{
    width: 100%;
    position: relative;

    h1{
      font-size: rem(50);
      text-transform: capitalize;
      margin-bottom: 15px;
      @include device(desktop){
        font-size: rem(72);
      }

      &::before{
        content: '';
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url(../images/favicon.svg);
        background-size: contain;
        background-position: center;
        position: absolute;
        top: -5px;
        left: -15px;
        z-index: -1;
      }
    }

    p{
      @include device(desktop){
        font-size: rem(24);
      }
    }
  }
}